<div class="logo">
  <%= image_tag('EmacsConf2015.png')%>
</div>

<p>EmacsConf is a conference about the joy of Emacs, Emacs Lisp, and memorizing key sequences.</p>

<p>We're busy putting things together at the moment! Check out the planning document here: <a href="https://emacsconf.github.io/emacsconf2015/">https://emacsconf.github.io/emacsconf2015/</a></p>

<p>The conference will be <strong>August 22nd, 2015</strong> (a Saturday) in <strong>San Francisco, CA</strong>.

<p>Register <a href="https://www.eventbrite.com/e/emacsconf-2015-tickets-16670072636">here</a>.</p>

<p>We need <strong>your</strong> help to make EmacsConf 2015 amazing! Please spread the word. If you have ideas for talks or want to help plan the conference, please note that in the form above or contact me: samer@samertm.com. If you want to be involved with planning the conference and setting up our infrastructure, please email samer@samertm.com or join us at #emacsconf on freenode.</p>

<p><strong>Resources:</strong></p>
<ul>
  <li><a href="http://git.hellokittyfans.ninja">Gogs (GitHub clone) – Our hosted Git repositories</a></li>
  <li><a href="http://discourse.hellokittyfans.ninja">Discourse – Our discussion forum and mailing list</a></li>
</ul>
