<div class="logo">
  <pre>
   ____ ____ ____ ____ ____ ____ ____ ____ ____
  ||E |||M |||A |||C |||S |||C |||O |||N |||F ||
  ||__|||__|||__|||__|||__|||__|||__|||__|||__||
  |/__\|/__\|/__\|/__\|/__\|/__\|/__\|/__\|/__\|
                            ____ ____ ____ ____
                           ||2 |||0 |||1 |||5 ||
                           ||__|||__|||__|||__||
                           |/__\|/__\|/__\|/__\|

  </pre>
</div>


<p>EmacsConf is a conference about the joy of Emacs, Emacs Lisp, and memorizing key sequences.</p>

<p>Interested? Fill out our interest form, and we'll be in touch as EmacsConf comes together! <a href="https://goo.gl/forms/tv0sDuApd8">https://goo.gl/forms/tv0sDuApd8</a></p>

<p>We're busy putting things together at the moment! Check out the planning document here: <a href="https://emacsconf.github.io/emacsconf2015/">https://emacsconf.github.io/emacsconf2015/</a></p>

<p>We need <strong>your</strong> help to make EmacsConf 2015 amazing! Please spread the word by sending the interest form (<a href="https://goo.gl/forms/tv0sDuApd8">https://goo.gl/forms/tv0sDuApd8</a>) to friends and fellow Emacsers in your life. If you use twitter or GNU social, please retweet this: <a href="https://twitter.com/EmacsConf/status/588260310106173440">https://twitter.com/EmacsConf/status/588260310106173440</a>. If you have ideas for talks or want to help plan the conference, please note that in the form above or contact me: samer@samertm.com</p>
